.tooling-apps-cache/app/hellomule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="31a8e070-7e5c-4dca-ba68-8c8443a0b0e5" >
		<http:listener-connection host="0.0.0.0" port="8081" protocol="HTTPS">
			<tls:context >
				<tls:key-store path="keystore-name.jks" alias=" key-alias" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="3ef0dfa5-bd09-4f2c-8426-ad9dc32da323" file="local.properties" />
	<global-property doc:name="Global Property" doc:id="73a98295-539e-4ed6-a83b-e73c4795d307" name="secure-key" value="MulesoftValue" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="66f2b813-b028-4021-b039-933db085b7e0" file="local.properties" key="$(secure.key)" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="e8786e10-530a-4e4d-a743-4b1be02baf43" >
		<salesforce:basic-connection username="$(secure::salesforceUserName)" password="$(secure::salesforcePassword)" />
	</salesforce:sfdc-config>
	<flow name="hellomuleFlow" doc:id="237b9da3-ee6b-46cc-b8f9-8fe45bdd17d5" >
		<http:listener doc:name="Listener" doc:id="901d5a9c-8654-4912-b053-64b4c53c32ec" path="/salesforce" config-ref="HTTP_Listener_config"/>
		<salesforce:create doc:name="Create" doc:id="ab470ba8-42d2-46c7-81e4-bea4bf7a8611" config-ref="Salesforce_Config" type="lead">
			<salesforce:records ><![CDATA[#[%dw 2.0
output application/json
---
[{
	FirstName: "Max",
	LastName: "Mule",
	Email: "maxthemule@mulesoft.com",
	Company: "MuleSoft"
}]]]]></salesforce:records>
		</salesforce:create>
	</flow>
</mule>
